div.nonterminal{
    /* background-color:#3cc; */
    margin:20px;
    border:1px solid black;
    border-radius:10px;
    padding:20px;
}

div.terminal{
    margin:20px;
    border:1px solid black;
    border-radius:10px;
    padding:20px;
}

input[type="text"]{
    width:200px;
}

input[type="number"]{
    width:70px;
}

div.add{
    cursor:pointer;
    width:50px;
    height:50px;
    border-radius:25px;
    font-size:30px;
    text-align:center;
    border:3px solid black;
    background-color:#fa3;
}